{% extends 'base.html.twig' %}

{% block title %}Préstations
{% endblock %}
{#  #}
{% block body %}
	{# On inclut les partials _header qui contiennent l'Header qui sera sur toutes les pages #}
	{% include "partials/_header.html.twig" %}
	{# Balise sémantique qui servira de base pour les autres balise #}
	<main class="main-prestation">
		<h2 class="titre-h2-prestations">Prestations</h2>
		<div class="back-prestation">
			{% for prestation in prestations %}
				<div class="div-prestations-card">
					<div>
						<p>Titre</p>
						<p>{{prestation.title}}</p>
					</div>
					<div>
						<p>Temps</p>
						<p>{{prestation.time}}
							min</p>
					</div>
					<div>
						<p>Prix</p>
						<p>{{prestation.prix}}
							€</p>
					</div>
				</div>
			{% endfor %}
		</div>
	</main>
{% endblock %}
