<footer>
	<div class="footer-main-div">
		<div class="footer-titre-adress-horraire-div">
			<div class="flex">
				<h2>Prix</h2>
				<h2>Horaires et jours d'ouvertures</h2>
			</div>
			<div class="footer-info-adress-horraire-div">
				<p class="footer-info-address-p">
					L'Hair d'Antan
					7 rue du Pierregot
					80260 Rainneville
					Tél : 03.22.93.31.12</p>
				<p class="footer-info-horraire-p">
					<span>Lundi Fermé</span>
                    <span>Mardi 08h30 - 12h00 / 14h00 - 19h00</span>
                    <span>Mercredi 08h30 - 12h00 / 14h00 - 19h00</span>
                    <span>Jeudi 08h30 - 12h00 / 14h00 - 19h00</span>
                    <span>Vendredi 08h30 - 12h00 / 14h00 - 19h00</span>
                    <span>Samedi 07h30 - 17h00</span>
                    <span>Dimanche Fermé</span>
				</p>
			</div>
		</div>
	</div>
</footer>
