<header>
    <div class="header">
        <div class="logo row">
            <img class="img_url" src="{{ asset("images/logo.jpg") }}" alt="">
            <div class="text_div column">
                <h1>L'hair d'antan</h1>
            </div>
        </div>
    </div>

    <nav class="nav column">
        <ul class="row">
            <li><a href="">Accueil</a></li>
            <li><a href="">Prestations</a></li>
            <li><a href="{{asset("produits")}}">Produits</a></li>
            <li><a href="">Bijoux</a></li>
            <li><a href="{{asset("reservation")}}">Reservation</a></li>
            <li><a href="{{asset("contact")}}">Contact</a></li>
        </ul>
    </nav>
</header>

