<header>
	<div class="main-header">
		<img class="img_url" src="{{ asset("images/logo.jpg") }}" alt="">
		<div class="text_div">
			<h1>L'haire d'antan</h1>
		</div>
	</div>

	<nav>
		<ul>
			<li><a href="">Acceuil</a></li>
			<li><a href="">Prestations</a></li>
			<li><a href="">Produits</a></li>
			<li><a href="">Bijoux</a></li>
			<li><a href="">Reservation</a></li>
			<li><a href="">Contact</a></li>
		</ul>
	</nav>
</header>
