
<nav class="nav-admin-panel">
	<h1>Admin Panel</h1>
	<div class="div-admin-panel" >
		<ul>
			<div>
				<li >
					<a href="{{ path("admin_prestations")}}">| Prestation |</a>
				</li>
			</div>
			<li>
				<a href="{{ path("admin_produits")}}">| Produits |</a>
			</li>
			<li>
				<a href="">| Bijoux |</a>
			</li>
			<li>
				<a href="">| Calendar |</a>
			</li>
		</ul>
		<i class="fa-regular fa-user-hair-mullet"></i>
	</div>
</nav>
