{% extends 'base.html.twig' %}

{% block title %}Créer une Prestations{% endblock %}

{% block body %}
{% include "partials/_left-panel-admin.html.twig" %}

<div class="container2 new_prestation">
	<div class="center">
	<h2> Créer une nouvelle préstation</h2>

	{{form_start(form)}}
	{{form_rest(form)}}
	{{form_end(form)}}
	</div>
</div>

{% endblock %}