{% extends 'base.html.twig' %}

{% block title %}Accueil 
{% endblock %}

{% block body %}
	{% include "partials/_header.html.twig" %}
	<main class="container">   {# Début  partie Main  #}

		{# Section Presentation du salon #}
		<section class="presentation_section">
			<div class="row">
				<h2> Présentation </h2>
			</div>
			<div class="presentation_div row ">
				<div class="presentaiton_p_div column">
					<p class="presentation_p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt architecto, veniam fugiat ut maxime necessitatibus labore consequuntur ex explicabo itaque beatae id tempora ad non repellat. Repudiandae minima iure similique consequuntur veniam. Unde sed reiciendis quas quos possimus asperiores quam incidunt eius assumenda? Distinctio accusantium nesciunt officiis delectus sequi vel!</p>
				</div>
				<img src="{{ asset("images/logo.png") }}" alt="Logo du site">
			</div>
		</section>

		{# Section Presentation des categories #}
		<section class="presentation_section">
			<div class="row">
				<h2> Categories </h2>
			</div>
			<div class="categorys row">
				<div class="category">Prestations</div>
				<br>
				<div class="category">Produits</div>
				<br>
				<div class="category">Bijoux</div>
				<br>
				<div class="category">Contact</div>
			</div>			
		</section>	

		{# Section Presentation de nos équipes #}
		<section class="presentation_section">
			<div class="row">
				<h2> Notre équipe de Coiffeurs(euses)</h2>
			</div>
			<div class="categorys row">
				<div class="coiffeur column">      {# coiffeur n°1 #}       
					<div></div>  {# nom, prenom et descriptif #}
					<div></div>   {# photo #}
				</div>
				<div class="coiffeur column">         {# coiffeur n°2 #}
					<div></div>	 {# nom, prenom et descriptif #}
					<div></div>    {# photo #}
				</div>
			</div>			
		</section>

 {# ------------------------------------------------MODIFIER LES LIENS PHOTO------------------------------------------------ #}
	{# Section Presentation des modèles de coupes #}

		{# Section Pub #}
		<section class="presentation_section">
        
			<div class="presentation_div">
				
				<p class="presentation_p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt architecto, veniam fugiat ut maxime necessitatibus labore consequuntur
				         ex explicabo itaque beatae id tempora ad non repellat. Repudiandae minima iure similique consequuntur veniam. Unde sed reiciendis quas quos possimus asperiores
						 quam incidunt eius assumenda? Distinctio accusantium nesciunt officiis delectus sequi vel!</p>
			
				<a href="http://">Lien page resérvation</a>

				<p class="presentation_p">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
			</div>
		</section>
	</main>     {#  Fin partie Main  #}



{% endblock %}