:root{
    --violet-claire: #8244A7;
    --violet-fonce: #7244A7;
    --arrier-plan: #9467cc;
    --text_col: #C6D1EC;
  }


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header */
header {
    /* padding-bottom: 200px; */
    height: 214px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

.main-header {
    display: flex;
    /* border: 8px solid red; */
    justify-content: center;
    padding: 5px;
    background-color: var(--violet-fonce);
    width: 100%;
    padding: 20px;
    font-family: 'Dancing Script', cursive;
}

.img_url {
    width: 128px;
    height: 128px;
    object-fit: cover;
    margin-top: auto;
    margin-bottom: auto;
}

.text_div {
    margin-top: auto;
    margin-bottom: auto;
    color: var(--text_col);
    background-color: var(--violet-claire);
    height: fit-content;
    font-family: 'Dancing Script', cursive;
    padding: 20px;
    padding-right: 100px;
}

.titre_site {
    width: fit-content;
    font-family: 'Dancing Script', cursive;
}

nav {
    border: 1.5px solid darkgray;
    background-color: var(--violet-fonce);
    width: 100%;
    padding: 10px;
    
}

nav ul {
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    margin-right: 5px;
    font-family: 'Dancing Script', cursive;
    list-style: none;
}

nav ul li a {
    color: var(--text_col);
    font-size: 1.25rem;
    height: fit-content;
}

/* Calendar */

#calendrier{
    width: 80%;
    margin: auto;
}

/* Accueil */
main {
    display: flex;
    justify-content: center;
} 

.presentation_section {
background-color: var(--violet-fonce);
margin-top: 5px;
width: 80%;
padding: 15px;
}

.presentation_div {
    display: flex;
    justify-content: center;
}

.presentation_div img {
    margin-left: 30px;
    object-fit: contain;
}
.presentaiton_p_div {
    max-width: 600px;
}
.presentation_p {
    background-color: var(--violet-claire);
    padding: 15px;
    max-width: 100%;
    font-size: 20px;
    color: var(--text_col);
}