* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
}
header{
    /* padding-bottom: 200px; */
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

.main-header{
    display: flex;
    /* border: 8px solid red; */
    justify-content: center;
    padding: 5px;
    background-color:#804cac;
    width: 100%;
    padding: 20px;
}
.img_url{
    width: 128px;
    height: 128px;
    object-fit: cover;
    margin-top: auto;
    margin-bottom: auto;
}
.text_div {
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    background-color: #8244A7;
    height: fit-content;
    padding: 20px;
    padding-right: 100px;
}
h1
{
    width: fit-content;
    background-color: #8244A7;
}
nav {
    border: 1.5px solid darkgray;
    background-color: #804cac;
    width: 100%;
    padding: 10px;
}
nav ul {
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    margin-right: 5px;
    list-style: none;
}
nav ul li a {
    color: white;
    font-size: 1.25rem;
    height: fit-content;
}