{% extends 'base.html.twig' %}

{# On définit le titre de la page #}
{% block title %}Connexion Admin
{% endblock %}

{# Ce bloc sert à pouvoir intégrer le code HTML#}
{% block body %}
	{#j'inclus le Header#}
	{% include "partials/_header.html.twig" %}

	{# Balise semantique qui servira de piece central #}
	<main
		class="login-main">
		{# On crée le form du login #}
		<form action="{{ path("login") }}" method="post">
			<div class="flex column">
				<label for="_username">Votre Email</label>
				{# _username doit être mis OBLIGATOIREMENT dans le name #}
				<input type="text" name="_username" id="username">
			</div>

			<div class="flex column">
				<label for="_password">Votre Mot de Passe</label>
				{# _password doit être mis OBLIGATOIREMENT dans le name #}
				<input type="password" name="_password" id="password">
			</div>
			{# Button pour valider la soumission du formulaire #}
			<button class="login-connect-button" type="submit">Se Connecter</button>
		</form>
	</main>
	{# j'inclus le Footer #}
	{% include "partials/_footer.html.twig" %}
{% endblock %}


